name: Deploy GitHub Project to EC2

on:
  push:
    branches: [ Production ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
        repository: "MarcosSuntaxi/HelloWorldHTML"

    - name: Set up SSH Key
      run: |
        echo "${{ secrets.EC2_SSH_PRIVATE_KEY }}" > private-key.pem
        chmod 600 private-key.pem

    # Preparar la primera instancia EC2
    - name: Prepare EC2 Target Directory (Instance 1)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-98-83-212-187.compute-1.amazonaws.com "mkdir -p /home/ubuntu/project"

    # Copiar los archivos a la primera instancia EC2
    - name: Copy Project Files to EC2 (Instance 1)
      run: |
        scp -o StrictHostKeyChecking=no -i private-key.pem -r ./* ubuntu@ec2-98-83-212-187.compute-1.amazonaws.com:/home/ubuntu/project/

    # Desplegar aplicaci贸n en la primera instancia EC2
    - name: Deploy Application on EC2 (Instance 1)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-98-83-212-187.compute-1.amazonaws.com << 'EOF'
          # Update and install necessary packages
          sudo apt update -y
          sudo apt install nginx git -y

          # Clone the repository
          cd /home/ubuntu/project
          git clone https://github.com/MarcosSuntaxi/HelloWorldHTML.git .

          # Copy project files to the Nginx root directory
          sudo cp -r /home/ubuntu/project/* /var/www/html/

          # Start and enable Nginx
          sudo systemctl start nginx
          sudo systemctl enable nginx
        EOF

    # Verificar despliegue en la primera instancia EC2
    - name: Verify Deployment (Instance 1)
      run: |
        curl http://ec2-98-83-212-187.compute-1.amazonaws.com

    # Preparar la segunda instancia EC2
    - name: Prepare EC2 Target Directory (Instance 2)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-107-23-239-64.compute-1.amazonaws.com "mkdir -p /home/ubuntu/project"

    # Copiar los archivos a la segunda instancia EC2
    - name: Copy Project Files to EC2 (Instance 2)
      run: |
        scp -o StrictHostKeyChecking=no -i private-key.pem -r ./* ubuntu@ec2-107-23-239-64.compute-1.amazonaws.com:/home/ubuntu/project/

    # Desplegar aplicaci贸n en la segunda instancia EC2
    - name: Deploy Application on EC2 (Instance 2)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-107-23-239-64.compute-1.amazonaws.com << 'EOF'
          # Update and install necessary packages
          sudo apt update -y
          sudo apt install nginx git -y

          # Clone the repository
          cd /home/ubuntu/project
          git clone https://github.com/MarcosSuntaxi/HelloWorldHTML.git .

          # Copy project files to the Nginx root directory
          sudo cp -r /home/ubuntu/project/* /var/www/html/

          # Start and enable Nginx
          sudo systemctl start nginx
          sudo systemctl enable nginx
        EOF

    # Verificar despliegue en la segunda instancia EC2
    - name: Verify Deployment (Instance 2)
      run: |
        curl http://ec2-107-23-239-64.compute-1.amazonaws.com

    
    # Preparar la tercera instancia EC2
    - name: Prepare EC2 Target Directory (Instance 3)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-54-224-1-37.compute-1.amazonaws.com "mkdir -p /home/ubuntu/project"

    # Copiar los archivos a la tercera instancia EC2
    - name: Copy Project Files to EC2 (Instance 3)
      run: |
        scp -o StrictHostKeyChecking=no -i private-key.pem -r ./* ubuntu@ec2-54-224-1-37.compute-1.amazonaws.com:/home/ubuntu/project/

    # Desplegar aplicaci贸n en la tercera instancia EC2
    - name: Deploy Application on EC2 (Instance 3)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-54-224-1-37.compute-1.amazonaws.com << 'EOF'
          # Update and install necessary packages
          sudo apt update -y
          sudo apt install nginx git -y

          # Clone the repository
          cd /home/ubuntu/project
          git clone https://github.com/MarcosSuntaxi/HelloWorldHTML.git .

          # Copy project files to the Nginx root directory
          sudo cp -r /home/ubuntu/project/* /var/www/html/

          # Start and enable Nginx
          sudo systemctl start nginx
          sudo systemctl enable nginx
        EOF

    # Verificar despliegue en la tercera instancia EC2
    - name: Verify Deployment (Instance 3)
      run: |
        curl http://ec2-54-224-1-37.compute-1.amazonaws.com


    # Preparar la cuarta instancia EC2
    - name: Prepare EC2 Target Directory (Instance 4)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-54-175-94-79.compute-1.amazonaws.com "mkdir -p /home/ubuntu/project"

    # Copiar los archivos a la cuarta instancia EC2
    - name: Copy Project Files to EC2 (Instance 4)
      run: |
        scp -o StrictHostKeyChecking=no -i private-key.pem -r ./* ubuntu@ec2-54-175-94-79.compute-1.amazonaws.com:/home/ubuntu/project/

    # Desplegar aplicaci贸n en la cuarta instancia EC2
    - name: Deploy Application on EC2 (Instance 4)
      run: |
        ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-54-175-94-79.compute-1.amazonaws.com << 'EOF'
          # Update and install necessary packages
          sudo apt update -y
          sudo apt install nginx git -y

          # Clone the repository
          cd /home/ubuntu/project
          git clone https://github.com/MarcosSuntaxi/HelloWorldHTML.git .

          # Copy project files to the Nginx root directory
          sudo cp -r /home/ubuntu/project/* /var/www/html/

          # Start and enable Nginx
          sudo systemctl start nginx
          sudo systemctl enable nginx
        EOF

    # Verificar despliegue en la cuarta instancia EC2
    - name: Verify Deployment (Instance 4)
      run: |
        curl http://ec2-54-175-94-79.compute-1.amazonaws.com
